:root {
  --primary: rgba(41, 21, 91, 1);
  --d-9d-9d-9: rgba(221, 214, 248, 1);
  --third: rgba(230, 226, 236, 1);
  --pri-dark-5: rgba(28, 16, 52, 1);
  --anolog-colour: rgba(76, 21, 91, 1);
  --analog-2: rgba(91, 21, 71, 1);
  --white: rgba(255, 255, 255, 1);
  --grey: rgba(245, 245, 245, 1);
  --gerydark-100: rgba(252, 252, 252, 1);
  --shadesgraydark-800: rgba(92, 102, 114, 1);
  --shadesgraydark-900: rgba(41, 48, 50, 1);
  --gerydark-400: rgba(173, 178, 187, 1);
  --gerydark-800: rgba(92, 102, 114, 1);
  --accentblueblue-900: rgba(13, 57, 149, 1);
  --shades-white: rgba(255, 255, 255, 1);
  --gerydark-500: rgba(159, 167, 178, 1);
  --gerydark-600: rgba(117, 129, 143, 1);
  --gerydark-300: rgba(227, 229, 232, 1);
  --label-colorlightprimary: rgba(0, 0, 0, 1);
  --default-bold-body-font-family: "SF Pro Text", Helvetica;
  --default-bold-body-font-weight: 400;
  --default-bold-body-font-size: 17px;
  --default-bold-body-letter-spacing: -0.40799999237060547px;
  --default-bold-body-line-height: 22px;
  --default-bold-body-font-style: normal;
  --heading-font-family: "Inter", Helvetica;
  --heading-font-weight: 600;
  --heading-font-size: 24px;
  --heading-letter-spacing: -0.48px;
  --heading-line-height: 120.00000476837158%;
  --heading-font-style: normal;
  --single-line-body-base-font-family: "Inter", Helvetica;
  --single-line-body-base-font-weight: 400;
  --single-line-body-base-font-size: 16px;
  --single-line-body-base-letter-spacing: 0px;
  --single-line-body-base-line-height: 100%;
  --single-line-body-base-font-style: normal;
  --body-small-font-family: "Inter", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 139.9999976158142%;
  --body-small-font-style: normal;
  --body-14px-medium-font-family: "Poppins", Helvetica;
  --body-14px-medium-font-weight: 500;
  --body-14px-medium-font-size: 14px;
  --body-14px-medium-letter-spacing: 0.10000000149011612px;
  --body-14px-medium-line-height: 20px;
  --body-14px-medium-font-style: normal;
  --small-12px-regular-font-family: "Poppins", Helvetica;
  --small-12px-regular-font-weight: 400;
  --small-12px-regular-font-size: 12px;
  --small-12px-regular-letter-spacing: 0.10000000149011612px;
  --small-12px-regular-line-height: 18px;
  --small-12px-regular-font-style: normal;
}
